* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: lightgray;
    font-family: 'Montserrat', 'Noto Serif TC', serif;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1.4px;
}

.home-face::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 40%;
    background-color: #3B3B3B; 
}

.home-face{
    height: 50vh;
    margin-bottom: 20px;
}
.home-win::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    /* top: 380px; */
    z-index: -1;
    width: 100%;
    height: 60%;
    background-color: #B4B4B4; 
    
}
.home-win{
    height: 10vh;
    width: 100px;
    margin-bottom: 90px;
    
}

.x-20{
    width: 70%;
    
}

.flex-dog{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    

}
.txt-1{
    color: white;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight:bold;

}
.text-white{
    color: white;
}
.flex-cat{
    display: flex;
    justify-content: space-between;
}


.bg-section {
    /* border:1px solid red; */
    position: relative;
    padding: 40px 0;
}

.bg-section::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 83%;
    height: 100%;
}

.bg-section.bg-primary::before {
    background-color: #5F4343;
}
.bg-section.right::before {
    right: 0;
    min-width: 1200px;
}


.labek{
    display: flex;
    margin: auto;
    max-width: 1200px;
    /* height: 300px */
    position: relative;
    justify-content: center;
    justify-content: space-around
}


.connecttwo div{
    width:70px;
    height:70px;
    background:#000000;
    border-radius: 99em;
    display: inline-block;
    margin: 10px;
    position: relative;
    bottom: -20px;
   
    
}
.connecttwo img{
    margin-top: 28%;
    margin-left: 21px;
    width: fit-content;
    height: fit-content;
}
.logo{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-left: -80px;
}
.connect {
    width: fit-content;
    height: fit-content;
    margin-top: 50px;
}
.connect a{
    margin: 10px;
    /* font-family: 'Monoton', cursive;
    font-family: 'Noto Serif TC', serif; */
    color: #D9D9D9;
    /* font-size: 14px ;
    letter-spacing: 0.3em; */
    text-decoration: none;
    font-weight: 900;
    
}

.flex{
    display: flex;
}

.flooe{
    width: 1200px;
    height: 10px;
}



.booking{
width: 580px;
margin-right: 280px;
    
}

.booking img{
    width:580px;
    margin-right: 70px;
}
.two{
    display: flex;
   justify-content: center;
   width: 100%;
   margin-left: -70px;
   /* margin: auto; */

}
.were{
   display: flex;
   align-items: center;
   align-content: space-between;
   margin-top: -30px;
   
}
.oo{
    color: #D9D9D9;
    padding: 20px 20px;
    font-size: 13px ;
    letter-spacing: 1em;
    text-decoration: none;
    font-weight: 500;
}
.ee{
    color: #3B3B3B;
    padding: 20px 20px;
    font-size: 13px ;
    letter-spacing: 1em;
    text-decoration: none;
    font-weight: 500;
}
.home-page{
    display: flex;
    justify-content: center;
    display: inline-block;
    margin-left: -200px;
    width: fit-content;
    height: fit-content;
    margin-top: 30px;
    
}


.ffc{
    width: 120px;
    height: 120px;
    border-radius: 99em;
    background: #D1D1D1;
    margin: 30px 0px;
}

.ssl{
    width: 120px;
    height: 120px;
    border-radius: 99em;
    background: #3B3B3B;
    margin: 100px 0px;
}


/* /.ffc div{
    background: #D1D1D1;
    
} */
.ffc img{
margin-left: 30px;
margin-top: 30px;
}
.ssl img{
margin-left: 30px;
margin-top: 30px;

} 
.col-4{
position: relative;
}
.we-22{
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: #A0D65A;
    position: absolute;
    bottom: 38px;
    right: -25px;
    border-radius:99em
}
.we-22 img{
    margin-left: 25px;
    margin-top: 25px;
}

.section{
    position: relative;
    padding: 40px 0;
}
.section::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 30%;
    height: 100%;
    background-color: white;
}
.flex-weme{
    width: 1200px;
    margin: auto;
    
    
}
.flex-good{
    display: flex;
    justify-content: end;
}

.w-50{
    width: 50%;
    margin: auto;
}
.btn {
    padding: 10px 20px;
    background-color: #5F4343;
    color: white;
    text-decoration: none;
    border-radius: 22px;
}
.mb-20{
    margin-bottom: 20px;
    font-weight:bold;
}
.text-primary  {
    color: #9A6E6E;
    font-size: 1.5em;
    /* margin-block-start: 0.83em;
    margin-block-end: 0.83em; */
}

.psao-weaq{
    min-width: 1200px;
    position: relative;
    margin-left: auto;
   
   
}
.psao-weaq::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 70%;
    height: 600px;
    background-color: #5F4343;
    
}
.flex-wqe{
 display: flex;

    

}
.flex-fkkk{
margin: auto;


}
.j-21{
margin-left: auto;
} 

.z-332{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.w-45{
    margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 1.5em;
}
.z-34{
    margin-bottom: 20px;
    color: #FFFFFF;
}

.gold-flex{
    min-width: 1200px;
    position: relative;
    margin-top: 50px;


}
.gold-flex::before{
    content: '';
    position: absolute;
    top: -50px;
    right: 0;
    z-index: -1;
    width: 45%;
    height: 660px;
    background-color: #3B3B3B;
    margin-top: 20px;
}

.fiex-apple{
    width: 100%;
   
}
.flex-jjc{
    margin-left: auto;
    margin-right: 150px;
    width: 400px;
    display: block;

    /* border: 5px solid #e11313; */
}
.flex-jjc h1{
    margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 1.5em;
}
.flex-jjc p{
    margin-bottom: 20px;
    color: #FFFFFF;
}
.flex-imge{
display: flex;
margin: auto;
margin-top: 30px;
width: 770px;
}
.flex-imge img{
    margin: 10px;
}

.fled-wed a{
display: flex;
margin-left: auto;
margin-right:350px;
margin-top: 15px;
width: 120px;
padding: 10px 20px;
/* vertical-align: auto; */
background-color: #A0D65A;
border-radius: 22px;
text-decoration: none;
color:#3B3B3B;
font-weight:bold;
}

.flex-secito{
width: 100%;
position: relative;
margin-top: 20px;
}
.flex-secito::before{
    content: '';
    position: absolute;
    top: -20;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 800px;
    background-color: #5F4343;
    
}

.flex-vvvo{
    max-width: 1200px;
    margin: auto;
    
}
.solew{
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px,0px;
    text-align: center;
    
}

.solew img{
    display: inline-block;
    margin-top: 20px;
}

.solew h2{
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 2.0em;
}

.howq{
    margin-left: 190px;
   margin-top: 50px;
   color: #FFFFFF;
}
.flex-fkw{
    margin-left: 190px;
    margin-top: 30px;
    color: #FFFFFF;
}
.god-flee p{
    margin-left: 190px;
    margin-top: 10px;
    color: #FFFFFF;
}
.mom-fee{
    margin-left: 190px;
    margin-top: 30px;
    color: #FFFFFF;
}
.mn-89{
    margin-left: 190px;
    margin-top: 30px;
    color: #FFFFFF;
}
.flex-how{
    padding: 40px 0px;
    position: relative;
    
}
.flex-how::before{
    content: '';
    position: absolute;
    right: 0;
    top: 0px;
    z-index: -1;
    width: 30%;
    height: 100%;
    background-color: white;
    margin-top: 43px;
}

.vloo-11{
    width: 1200px;
    margin: auto;

}
.e-68 img{
display: block;
margin-bottom: 20px;

}
.e-68{
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 270px;
    
}
.flew-www{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.flex-imga img{
    display: block;
    margin: 5px;
}
.flex-imga{
    display: flex;
    margin-left: 750px;
}
.fffffda{
    margin-bottom: 20px;
    color: rgb(154, 110, 110);
    font-size: 1.5em;
    font-weight:bold;
}
.mc-34{
    font-weight:bold;
    margin-bottom: 20px
}

.ntr-dsa{
    padding: 10px 20px;
    background-color: rgb(95, 67, 67);
    color: white;
    text-decoration: none;
    border-radius: 22px;
    margin-bottom: 90px;
}
.flex-end-1{
    position: relative;
    padding: 40px 0;
}
.flex-end-1::before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 70%;
    height: 100%;
    background-color: #3B3B3B;
}
.doss-02{
    min-width: 1200px;
     margin: auto;
     margin-left: 220px;
    display: flex;
  
    
}
.sold-302{
    margin-right: auto;
    
}
.flex-pqww{
    display: flex;
    margin-top: 40px;
    margin-left: 40px;
    width: fit-content;
}
.xyfff-2{
    margin-left: 70px;
    margin-top: 20px;
}
.xyfff-2 h1{
    
margin-bottom: 10px;
color: rgb(255, 255, 255);
font-size: 1.5em;
}
.xyfff-2 p {
    margin-bottom: 10px;
    color: #FFFFFF;
}
.xyfff-2 img{
    margin-bottom: 20px;
    
}
.xy-22{
    margin: 20px;
    position: relative;
}
.wa-23{
    width: 60px;
    height: 60px;
    display: inline-block;
    background-color: #A0D65A;
    position: absolute;
    bottom: 38px;
    right: -25px;
    border-radius: 99em;
}
.wa-23 img{
    margin-left: 20px;
    margin-top: 20px;
}
.titka{
    text-decoration: none;
    color: #FFFFFF;
    font-weight:bold;
}
.data{
    color: #B4B4B4;
}
.end-what{
    position: relative;
    padding: 40px 0;
}
.end-what::before{
    content: '';
    position: absolute;
    right: 0;
    top: 0px;
    z-index: -1;
    width: 30%;
    height: 100%;
    background-color: white;
    
}
.ff-za img{
display: inline-block;
margin: 0px 10px;

}
.fkd-33{
    display: inline-block;
    width: fit-content;
    position: relative;
    margin-top: -20px;
    
}
.ff-za{
    /* margin-top: 45px;
    margin-right: 50px; */
    position: absolute;
    bottom: -20px;;
    
}
.dos-12{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 700px;
    line-height: 5;
   
}
.emd{
    width: 100%;
    height: 500px;
    background-color: #3B3B3B;
    
}