* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: lightgray;
    font-family: 'Montserrat', 'Noto Serif TC', serif;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1.4px;
}

.home-face::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 40%;
    background-color: #3B3B3B; 
}

.home-face{
    height: 50vh;
    margin-bottom: 20px;
}
.home-win::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    /* top: 380px; */
    z-index: -1;
    width: 100%;
    height: 60%;
    background-color: #B4B4B4; 
    
}
.home-win{
    height: 10vh;
    width: 100px;
    margin-bottom: 90px;
    
}

.x-20{
    width: 70%;
    
}

.flex-dog{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    

}
.txt-1{
    color: white;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight:bold;

}
.text-white{
    color: white;
}
.flex-cat{
    display: flex;
    justify-content: space-between;
}


.bg-section {
    /* border:1px solid red; */
    position: relative;
    padding: 40px 0;
}

.bg-section::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 83%;
    height: 100%;
}

.bg-section.bg-primary::before {
    background-color: #5F4343;
}
.bg-section.right::before {
    right: 0;
    min-width: 1200px;
}


.labek{
    display: flex;
    margin: auto;
    max-width: 1200px;
    /* height: 300px */
    position: relative;
    justify-content: center;
    justify-content: space-around
}


.connecttwo div{
    width:70px;
    height:70px;
    background:#000000;
    border-radius: 99em;
    display: inline-block;
    margin: 10px;
    position: relative;
    bottom: -20px;
   
    
}
.connecttwo img{
    margin-top: 28%;
    margin-left: 21px;
    width: fit-content;
    height: fit-content;
}
.logo{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-left: -80px;
}
.connect {
    width: fit-content;
    height: fit-content;
    margin-top: 50px;
}
.connect a{
    margin: 10px;
    /* font-family: 'Monoton', cursive;
    font-family: 'Noto Serif TC', serif; */
    color: #D9D9D9;
    /* font-size: 14px ;
    letter-spacing: 0.3em; */
    text-decoration: none;
    font-weight: 900;
    
}

.flex{
    display: flex;
}

.flooe{
    width: 1200px;
    height: 10px;
}



.booking{
width: 580px;
margin-right: 280px;
    
}

.booking img{
    width:580px;
    margin-right: 70px;
}
.two{
    display: flex;
   justify-content: center;
   width: 100%;
   margin-left: -70px;
   /* margin: auto; */

}
.were{
   display: flex;
   align-items: center;
   align-content: space-between;
   margin-top: -30px;
   
}
.oo{
    color: #D9D9D9;
    padding: 20px 20px;
    font-size: 13px ;
    letter-spacing: 1em;
    text-decoration: none;
    font-weight: 500;
}
.ee{
    color: #3B3B3B;
    padding: 20px 20px;
    font-size: 13px ;
    letter-spacing: 1em;
    text-decoration: none;
    font-weight: 500;
}
.home-page{
    display: flex;
    justify-content: center;
    display: inline-block;
    margin-left: -200px;
    width: fit-content;
    height: fit-content;
    margin-top: 30px;
    
}


.ffc{
    width: 120px;
    height: 120px;
    border-radius: 99em;
    background: #D1D1D1;
    margin: 30px 0px;
}

.ssl{
    width: 120px;
    height: 120px;
    border-radius: 99em;
    background: #3B3B3B;
    margin: 100px 0px;
}


/* /.ffc div{
    background: #D1D1D1;
    
} */
.ffc img{
margin-left: 30px;
margin-top: 30px;
}
.ssl img{
margin-left: 30px;
margin-top: 30px;

} 
.col-4{
position: relative;
}
.we-22{
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: #A0D65A;
    position: absolute;
    bottom: 38px;
    right: -25px;
    border-radius:99em
}
.we-22 img{
    margin-left: 25px;
    margin-top: 25px;
}

.section{
    position: relative;
    padding: 40px 0;
}
.section::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 30%;
    height: 100%;
    background-color: white;
}
.flex-weme{
    width: 1200px;
    margin: auto;
    
    
}
.flex-good{
    display: flex;
    justify-content: end;
}

.w-50{
    width: 50%;
    margin: auto;
}
.btn {
    padding: 10px 20px;
    background-color: #5F4343;
    color: white;
    text-decoration: none;
    border-radius: 22px;
}
.mb-20{
    margin-bottom: 20px;
}
.text-primary  {
    color: #9A6E6E;
    font-size: 1.5em;
    /* margin-block-start: 0.83em;
    margin-block-end: 0.83em; */
}

.psao-weaq{
    min-width: 1200px;
    position: relative;
    margin-left: auto;
   
   
}
.psao-weaq::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 70%;
    height: 600px;
    background-color: #5F4343;
    
}
.flex-wqe{
 display: flex;

    

}
.flex-fkkk{
margin: auto;


}
.j-21{
margin-left: auto;
} 

.z-332{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.w-45{
    margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 1.5em;
}
.z-34{
    margin-bottom: 20px;
    color: #FFFFFF;
}

.gold-flex{
    min-width: 1200px;
    position: relative;

}
.gold-flex::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 45%;
    height: 600px;
    background-color: #3B3B3B;
    margin-top: 20px;
}
.fiex-apple{
    width: 1200px;
   
}
.flex-jjc{
   width: 300px;
   /* margin-top: 80px; */
   /* height: 100%;
    margin-left: auto; */
    /* margin-top: 50px; */
    /* display: inline-block;
    */
}
