* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: lightgray;
    font-family: 'Montserrat', 'Noto Serif TC', serif;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1.4px;
}
.vh-90 {
    height: 90vh;
}
.main-section::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 35%;
    background-color: #3B3B3B;
}
.mb-20 {
    margin-bottom: 20px;
}
.labek{
    display: flex;
    margin: auto;
    max-width: 1200px;
    /* height: 300px */
    position: relative;
    justify-content: center;
    justify-content: space-around
}


.connecttwo div{
    width:70px;
    height:70px;
    background:#000000;
    border-radius: 99em;
    display: inline-block;
    margin: 10px;
    position: relative;
    bottom: -20px;
   
    
}
.connecttwo img{
    margin-top: 28%;
    margin-left: 21px;
    width: fit-content;
    height: fit-content;
}
.logo{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-left: -80px;
}
.connect {
    width: fit-content;
    height: fit-content;
    margin-top: 50px;
}
.connect a{
    margin: 10px;
    /* font-family: 'Monoton', cursive;
    font-family: 'Noto Serif TC', serif; */
    color: #D9D9D9;
    /* font-size: 14px ;
    letter-spacing: 0.3em; */
    text-decoration: none;
    font-weight: 900;
    
}
.connect a :hover{
    border-bottom:1px #D9D9D9 solid; padding-bottom:5px; 
}

.nim-ood{
    min-width: 1200px;
    margin-top: 60px;
}
.sold-33{
    margin-left: 300px;
    width: 300px;
}
.sold-33 h1{
    color: #D9D9D9;
    font-size: 1.8em;
    text-align: center;
    margin-top: 120px;
}
.hold-erw{
    width: 100%;
}
.kood-re{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 90px;
}
.sole-root{
    margin-bottom: auto;
    margin-top: auto;
}
.sole-root h1{
    color: #3B3B3B;
    font-size: 2.8em;
    font-weight:bold;

}
.sole-root h2{
    color: #3B3B3B;
    font-size: 1.2em;
    font-weight:bold;
    
}
.flex-ttl h1{
margin-bottom: 5px;
}
.flex-ttl h2{
    margin-bottom: 50px; 
}
.dod-332 p{
    margin-bottom: 20px;
    color: #3B3B3B;
    font-size: 1.0em;
    font-weight:bold;
    
}
.flex-dod{
    min-width: 1200px;
    

}
.flex-dod{
    width: 1000px;
    height: 3px;
    background-color: #3B3B3B;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.fiex-root{
    width: 100%;
    margin-top: 30px;
 
}

.fddo img{
    display: inline-block;
    margin: 20px;
}
.sold-tyr{
    display: flex;
    justify-content: center;
}
.fddoe{
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
}

.ff-za img{
    display: inline-block;
    margin: 0px 10px;
    
    }
    .fkd-33{
        display: inline-block;
        width: fit-content;
        position: relative;
        margin-top: -20px;
        
    }
    .ff-za{
        /* margin-top: 45px;
        margin-right: 50px; */
        position: absolute;
        bottom: -20px;;
        
    }
    .dos-12{
        margin: auto;
        display: flex;
        justify-content: center;
        width: 700px;
        line-height: 8;
       
    }
    .end-what{
        position: relative;
        padding: 40px 0;
    }
    .end-what::before{
        content: '';
        position: absolute;
        right: 0;
        top: 0px;
        z-index: -1;
        width: 30%;
        height: 100%;
        background-color: lightgray;
        
    }
    .emd{
        width: 100%;
        height: 500px;
        background-color: #3B3B3B;
        
    }