* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: lightgray;
    font-family: 'Montserrat', 'Noto Serif TC', serif;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1.4px;
}
.vh-90 {
    height: 90vh;
}
.main-section::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 50%;
    background-color: #3B3B3B;
}
.mb-20 {
    margin-bottom: 20px;
}
.labek{
    display: flex;
    margin: auto;
    max-width: 1200px;
    /* height: 300px */
    position: relative;
    justify-content: center;
    justify-content: space-around
}


.connecttwo div{
    width:70px;
    height:70px;
    background:#000000;
    border-radius: 99em;
    display: inline-block;
    margin: 10px;
    position: relative;
    bottom: -20px;
   
    
}
.connecttwo img{
    margin-top: 28%;
    margin-left: 21px;
    width: fit-content;
    height: fit-content;
}
.logo{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-left: -80px;
}
.connect {
    width: fit-content;
    height: fit-content;
    margin-top: 50px;
}
.connect a{
    margin: 10px;
    /* font-family: 'Monoton', cursive;
    font-family: 'Noto Serif TC', serif; */
    color: #D9D9D9;
    /* font-size: 14px ;
    letter-spacing: 0.3em; */
    text-decoration: none;
    font-weight: 900;
    
}
.connect a :hover{
    border-bottom:1px #D9D9D9 solid; padding-bottom:5px; 
}

.flex-weew{
    min-width: 1200px;
}
.flex-root{
    display: flex;
    justify-content: center ;
    justify-content: space-around;
    margin-top: 50px;
}
.hssd-43{
    margin-left: 80px;
    margin-top: 10px;
}
.hssd-43 h1{
    color: #D9D9D9;
    font-size: 1.6em;
    text-align: center;
}
.hssd-43 p{
    color: #D9D9D9;
    font-size: 0.5em;
}
.gold-443{
    margin-top: 10px;
}
.gold-443 p{
    color: #D9D9D9;
    font-size: 1.0em;
    letter-spacing: 0.5em;
}
.hook-pade{
    min-width: 1200px;

}
.fleek{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 200px;
}
.dody{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 60px;
}
.dody p {
    font-size: 1.0em;
    letter-spacing: 0.5em;
}
.flex-dod{
    min-width: 1200px;
    

}
.flex-dod{
    width: 1000px;
    height: 3px;
    background-color: #3B3B3B;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
}
.catone{
    width: 100%;
    height: 430px;
    /* background-color: #dd3d3d; */
    margin-top: 100px;
    display: flex;
   justify-content: center;


}

.qaws{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin: 20px;
    text-align: center;
    
    

    
  
}

.iiww{

    width: fit-content;
    height: fit-content;


}
.iiww img{
    width: 100%;

}

.ddwe{
    width: 100%;
    height: 90px;
    background-color: #5F4343;
    position: relative;
    top: -20px;
   
}
.ddwe a{
   position: relative;
   bottom: -30px;
   text-decoration: none;
   outline:none;
   color: #FFFFFF;
   font-size: 20px;

} 

.catonewww{
    width: 100%;
    height: 430px;
    /* background-color: #dd3d3d; */
    margin-top: 30px;
    display: flex;
   justify-content: center;

}
.ff-za img{
    display: inline-block;
    margin: 0px 10px;
    
    }
    .fkd-33{
        display: inline-block;
        width: fit-content;
        position: relative;
        margin-top: -20px;
        
    }
    .ff-za{
        /* margin-top: 45px;
        margin-right: 50px; */
        position: absolute;
        bottom: -20px;;
        
    }
    .dos-12{
        margin: auto;
        display: flex;
        justify-content: center;
        width: 700px;
        line-height: 8;
       
    }
    .end-what{
        position: relative;
        padding: 40px 0;
    }
    .end-what::before{
        content: '';
        position: absolute;
        right: 0;
        top: 0px;
        z-index: -1;
        width: 30%;
        height: 100%;
        background-color: lightgray;
        
    }
    .emd{
        width: 100%;
        height: 500px;
        background-color: #3B3B3B;
        
    }