* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: lightgray;
    font-family: 'Montserrat', 'Noto Serif TC', serif;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1.4px;
}
.vh-90 {
    height: 90vh;
}
.main-section::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 30%;
    background-color: #3B3B3B;
}
.mb-20 {
    margin-bottom: 20px;
}
.labek{
    display: flex;
    margin: auto;
    max-width: 1200px;
    /* height: 300px */
    position: relative;
    justify-content: center;
    justify-content: space-around
}


.connecttwo div{
    width:70px;
    height:70px;
    background:#000000;
    border-radius: 99em;
    display: inline-block;
    margin: 10px;
    position: relative;
    bottom: -20px;
   
    
}
.connecttwo img{
    margin-top: 28%;
    margin-left: 21px;
    width: fit-content;
    height: fit-content;
}
.logo{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-left: -80px;
}
.connect {
    width: fit-content;
    height: fit-content;
    margin-top: 50px;
}
.connect a{
    margin: 10px;
    /* font-family: 'Monoton', cursive;
    font-family: 'Noto Serif TC', serif; */
    color: #D9D9D9;
    /* font-size: 14px ;
    letter-spacing: 0.3em; */
    text-decoration: none;
    font-weight: 900;
    
}
.connect a :hover{
    border-bottom:1px #D9D9D9 solid; padding-bottom:5px; 
}

.flex-tta{
    width: 100%;
 
}
.klex-ee{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.sold-eok a{
display: flex;
margin-left: 50px;
text-decoration: none;
color: #D9D9D9;
font-weight:bolder

}
.sold-eok h1{
text-decoration: none;
color: #D9D9D9;
margin-left: 50px;
font-size: 35px;
font-weight:bolder

}
.sold-eok h2{
color: #D9D9D9;
font-size: 15px;
margin-left: 50px;
margin-bottom: 10px;
font-weight:bolder

}
.sold-eok p{
    color: #D9D9D9;
margin-left: 50px;
font-size: 15px;
font-weight:bolder
}
.sold-eok img{
    margin-left: -5px;
}

.sold-eok{
    width: 395px;
    height: 1010px;
    background-color: #5F4343;
    margin-left: 150px;
    border-radius: 10px;

}
.flex-kje img{
display: flex;
}

.dod-ee h1{
    color: #3B3B3B;
    font-size: 30px;
}
.dod-ee p{
    margin: 10px;
    font-size: 15px;
}

.ff-za img{
    display: inline-block;
    margin: 0px 10px;
    
    }
    .fkd-33{
        display: inline-block;
        width: fit-content;
        position: relative;
        margin-top: -20px;
        
    }
    .ff-za{
        /* margin-top: 45px;
        margin-right: 50px; */
        position: absolute;
        bottom: -20px;;
        
    }
    .dos-12{
        margin: auto;
        display: flex;
        justify-content: center;
        width: 700px;
        line-height: 8;
       
    }
    .end-what{
        position: relative;
        padding: 40px 0;
    }
    .end-what::before{
        content: '';
        position: absolute;
        right: 0;
        top: 0px;
        z-index: -1;
        width: 30%;
        height: 100%;
        background-color: lightgray;
        
    }
    .emd{
        width: 100%;
        height: 500px;
        background-color: #3B3B3B;
        
    }

