* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #D4D4D4;
    font-family: 'Montserrat', 'Noto Serif TC', serif;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1.4px;
}
.labek{
    display: flex;
    margin: auto;
    max-width: 1200px;
    /* height: 300px */
    position: relative;
    justify-content: center;
    justify-content: space-around
}


.connecttwo div{
    width:70px;
    height:70px;
    background:#000000;
    border-radius: 99em;
    display: inline-block;
    margin: 10px;
    position: relative;
    bottom: -20px;
   
    
}
.connecttwo img{
    margin-top: 28%;
    margin-left: 21px;
    width: fit-content;
    height: fit-content;
}
.logo{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-left: -80px;
}
.connect {
    width: fit-content;
    height: fit-content;
    margin-top: 50px;
}
.connect a{
    margin: 10px;
    /* font-family: 'Monoton', cursive;
    font-family: 'Noto Serif TC', serif; */
    color: #3B3B3B;
    /* font-size: 14px ;
    letter-spacing: 0.3em; */
    text-decoration: none;
    font-weight: 900;
    
}
.flex-rrtt{
    width: 100%;
    margin-top: 100px;
}
.golk{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.slkke{
    
}
.soddk{
    display: flex;
   
}.soddk a {
    margin: 10px;
    margin-top: 30px;
    text-decoration: none;
    color: #5F4343;
    font-size: 20px;
    font-weight: bolder;
}
.zoozoo{
    color: #5F4343;
    font-size: 45px;
    font-weight: bolder;
}

.fleew-ggg{
    color: #5F4343;
    font-size: 20px;
    font-weight: bolder;
}
.slkke{
    margin-top: -65px;
}
.gopp-22{
    width: 1200px;
    height: 5px;
    background-color: #5F4343;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.dkkk{
    width: 1200px;
    height: 170px;
    background-color: #5F4343;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 10px;

}
.sllk{
  display: flex;
  justify-content: space-around;
  
}
.koop-033{
    width: 70px;
    height: 70px;
    background-color: #3B3B3B;
    border-radius: 99em;
}
.aaapo{
    margin-top: 50px;
}
.xo-22{
    margin-top: 40px;
    margin-left: 520px;
}
.aaapo a{
    text-decoration: none;
    color: #D9D9D9;
    font-size: 17px;
    font-weight: bolder;
}
.aaapo p{
    color: #D9D9D9;
    font-size: 15px;
}

.koop-033 img{
    margin-left: 20px;
    margin-top: 20px;
}

.ff-za img{
    display: inline-block;
    margin: 0px 10px;
    
    }
    .fkd-33{
        display: inline-block;
        width: fit-content;
        position: relative;
        margin-top: -20px;
        
    }
    .ff-za{
        /* margin-top: 45px;
        margin-right: 50px; */
        position: absolute;
        bottom: -20px;;
        
    }
    .dos-12{
        margin: auto;
        display: flex;
        justify-content: center;
        width: 700px;
        line-height: 8;
       
    }
    .end-what{
        position: relative;
        padding: 40px 0;
    }
    .end-what::before{
        content: '';
        position: absolute;
        right: 0;
        top: 0px;
        z-index: -1;
        width: 30%;
        height: 100%;
        background-color: lightgray;
        
    }
    .emd{
        width: 100%;
        height: 500px;
        background-color: #3B3B3B;
        
    }